/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  margin-top: 2%;
}

button{
  display: block;;
  margin:0 auto;
  margin-top: 2%;

}
h2{
  text-align: center;
  margin: 2% 0 2% 0;
}
.hidden{
display: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
