/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

table,
td {
    border: 1px solid #333;
}

thead,tfoot {
    background-color:red;
    color: #fff;
}

table{
  margin:2% 0% 2% 80%;
  width: 20%;
}
button{
  margin-top: 10px;
  background: lightcoral;
  color: blue;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
